/build
/build/*
.idea
.idea/*

# Ignore dependency httpgetter
#vendor/k8s.io/helm/pkg/getter/httpgetter.go

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
coverage.html

# Ignore vscode workspace file
*.code-workspace

tenkai-docker-api.yaml
